<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>CTY TNHH HÒANG DƯƠNG</title>
</head>
<body backImg="img/lmx_bg.jpg">
<div>
    <table width="100%" cellpadding="0" cellspacing="0">
        <tr>
            <td>
                <table cellpadding="0" cellspacing="0">
                    <tr><td align="center"><b>CTY TNHH HOÀNG DƯƠNG</b></td></tr>
                    <tr><td align="center"><b>BQL CHỢ KCN LÊ MINH XUÂN</b></td></tr>
                    <tr><td align="center">---------o0o-----------</td></tr>
                    <tr><td>SỐ: <b>{{ code }} /BQL</b></td></tr>
                </table>
            </td>
            <td width="150">&nbsp;</td>
            <td>
                <table cellpadding="0" cellspacing="0">
                    <tr><td align="center"><b>CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM</b></td></tr>
                    <tr><td align="center">Độc Lập - Tự Do - Hạnh Phúc</td></tr>
                    <tr><td align="center">------ o0o ------</td></tr>

                </table>
            </td>
        </tr>
    </table>

    <table width="100%" cellpadding="0" cellspacing="0">
        <tr>
            <td width="400">&nbsp;</td>
            <td align="right" width="100%">
                <p style="font-style: italic">Bình Chánh, ngày {{ date | date("d") }} tháng {{ date | date("m") }} năm {{ date | date("Y") }}</p>
            </td>
        </tr>
    </table>

    <h3 align="center">HỢP ĐỒNG THUÊ SẠP (KIOS)</h3>
    <p style="text-align: center; margin-top: -12px; font-weight: bold">(Thời hạn từ: {{ startDate }}</p>
    <p style="text-align: center; margin-top: -12px; font-weight: bold">Đến: {{ endDate }})</p>

    <table cellpadding="0" cellspacing="0">
        <tr><td>1 - Căn cứ vào nghị định số 17/HĐKT ngày 16/01/1990 của hội đồng bộ trưởng nay là thử tướng chính phủ quy định chi tiết về việc thực hiện pháp lệnh kinh tế;</td></tr>
        <tr><td>2 – Căn cứ vào thông báo số 1039TBUB của UBND huyện Bình Chánh ngày 22/09/2004 về việc chấp thuận cho bà MẠC THỊ MÙI được đầu tư xây dựng chợ nông thôn tại xã Lê Minh Xuân huyện Bình Chánh. </td></tr>
        <tr><td>3 – Căn cứ giấy chứng nhận đăng ký kinh doanh hộ kinh doanh cá thế số 41T8007610 đăng ký ngày 07/10/2004 cho bà MẠC THỊ MÙI </td></tr>
        <tr><td>4 – Căn cứ quyết định số: 3160/QĐ-UB của UBND huyện Bình Chánh ngày 01/12/2004 về việc chuyển mục đính đất lúa để xây dựng chợ nông thôn tại xã Lê Minh Xuân cho bà MẠC THỊ MÙI. </td></tr>
        <tr><td>5 – Căn cứ giấy phép xây dựng chợ số 406 do sở xây dựng Thành Phố Hồ Chí Minh cấp ngày 22/12/2005. </td></tr>
        <tr><td>6 – Căn cứ giấy chứng nhận kinh doanh số 4102008069 đăng ký lần đầu ngày 07/01/2002, đăng ký lần 2 ngày 25/04/2006 do Sở Kế Hoạch và Đầu Tự Thành Phố Hồ Chí Minh cấp. </td></tr>
        <tr><td>7 - Căn cứ theo nhu cầu của hai bên chúng tôi đồng thỏa thuận các điều khoản sau:</td></tr>
    </table>
    <p><b>Bên A (Bên cho thuê): Ban Quản Lý Chợ KCN Lê Minh Xuân</b></p>

    <table cellpadding="0" cellspacing="0">
        <tr><td>Địa chỉ: E 7/33C Trần Đại Nghĩa xã Lê Minh Xuân huyện Bình Chánh TP HCM.</td></tr>
        <tr><td>Điện thoại:</td></tr>
        <tr><td>Người đại diện: bà <b>MẠC THỊ BÙI</b></td></tr>
        <tr><td>Chức vụ: Trưởng BQL chợ KCN Lê Minh Xuân.</td></tr>
    </table>

    <br>

    <p><b>Bên B (Bên thuê sạp, kios):</b></p>
    <table cellpadding="0" cellspacing="0" width="100%">
        <tr><td>Ông (bà): {{ customer.firstName }} {{ customer.lastName }}</td></tr>
        <tr><td>Sinh năn: {{ customer.birthDay|date('d/m/Y') }}</td></tr>
        <tr><td>Điện thoại: {{ customer.mobile }} </td></tr>
        <tr><td style="padding: 0; border-spacing: 0">
                <table cellpadding="0" cellspacing="0">
                    <tr>
                        <td>CMND số: {{ customer.idCardNo }}</td>
                        <td width="100">&nbsp;</td>
                        <td>Cấp ngày: {{ customer.issueDate|date('d/m/Y')  }}</td>
                        <td width="100">&nbsp;</td>
                        <td>Nơi cấp: {{ customer.issueLocation }}</td>
                    </tr>
                </table>
            </td>
        </tr>

    </table>

    <br>

    <b><span style="text-decoration: underline;">ĐIỀU 1</span></b>
    <table cellpadding="0" cellspacing="0">
        <tr>
            <td>- Bên A đồng ý cho bên B thuê sạp(Kios)</td>
        </tr>

        {% for store in stores %}
            <tr><td>Mã: <b>{{ store.code }} </b>, Diện tích: <b>{{ store.area }}</b> m2</td></tr>
        {% endfor %}

        <tr>
            <td>tại chợ KCN Lê Minh Xuân</td>
        </tr>
        <tr>
            <td>- Bên thuê sử dụng vào mục đích: <b>{{ purpose }}</b></td>
        </tr>
    </table>

    <br>

    <b><span style="text-decoration: underline;">ĐIỀU 2</span>: Giá thuê và phương thức thanh toán.</b>
    <table cellpadding="0" cellspacing="0">
        <tr>
            <td>- Bên B đặt cọc cho bên A số tiền là: <b>{{ install|number_format }}đ</b></td>
        </tr>
        <tr>
            <td>- Bằng chũ: <b>{{ installWords }}</b> đồng </td>
        </tr>
        <tr>
            <td>- Tiền cọc không được tính lãi và sẽ được hoàn trả cho bên B sau khi thanh lý hợp đồng. </td>
        </tr>
        <tr>
            <td>- Bên B thanh toán chi phí làm hợp đồng là: 2.000.000đồng (hai triệu đồng). Chi phí làm hợp đồng này là chi phí một lần làm hợp đồng và không được hoàn lại khi thanh lý hợp đồng. </td>
        </tr>
        <tr>
            <td>- Hợp đồng có hiệu lực từ:  <strong>{{ startDate }}</strong> đến: <strong>{{ endDate }}</strong></td>
        </tr>
        <tr>
            <td>- Tổng cộng thời hạn thuê là <b>{{ period }}</b> (tháng)</td>
        </tr>
        <tr>
            <td>- Khi hết hạn hợp đồng mà bên B có nhu cầu kinh doanh thì bên A sẽ ưu tiên cho bên B kí tiếp hợp đồng với các điều khoản thỏa thuận giữa hai bên.</td>
        </tr>
        <tr>
            <td>- Giá thuê <b>{{ rate|number_format }}đ/tháng</b></td>
        </tr>
        <tr>
            <td>- Bằng chũ: <b>{{ rateWords }}</b> đồng </td>
        </tr>
        <tr>
            <td>- Tiền điện, nước, điện thoại (nếu có) bên B phải thanh toán theo số lượng thực tế đã sử dụng vào ngày đầu tiên của tháng sau. Chậm nhất là vào ngày 05 của tháng.  </td>
        </tr>
        <tr>
            <td>- Các chi phí như: bảo vệ, vệ sinh đóng hàng tháng theo quy định của BQL Chợ vào ngày đầu tiên của tháng, chậm nhất là vào ngày 05 của tháng dành cho tháng kinh doanh tiếp theo.</td>
        </tr>
    </table>

    <br>
<page backImg="img/lmx_bg.jpg">


    <b><span style="text-decoration: underline;">ĐIỀU 3</span>: Quyền và Trách nhiệm của các bên.</b>
    <table cellpadding="0" cellspacing="0">
        <tr>
            <td><b>Quyền về việc đơn phương chấm dứt hợp đồng và thanh lý hợp đồng.</b></td>
        </tr>
        <tr>
            <td>Bên A có quyền đơn phương chấm dứt hợp đồng, thanh lý hợp đồng và thu hồi lại mặt bằng vô điều kiện nếu bên B vi phạm một trong các trường hợp sau đây:</td>
        </tr>
        <tr>
            <td>- Không thực hiện đúng nội dung quy định trong hợp đồng này.</td>
        </tr>
        <tr>
            <td>- Bên B vi phạm quy định của nhà nước, các chủ trương chính sách của pháp luật. </td>
        </tr>
        <tr>
            <td>- Quá mười ngày mà bên B không thanh toán tiền mặt bằng cùng các khoản phí, lệ phí và các nghĩa vụ khác nếu có cho bên A. </td>
        </tr>
    </table>
    <br/>
    <b>Trách nhiệm bên A:</b>
    <table cellpadding="0" cellspacing="0">
        <tr>
            <td>- Bàn giao sạp (kios) cho bên B sau khi hợp đồng có hiệu lực.</td>
        </tr>
        <tr>
            <td>- Trợ giúp làm thủ tục đăng ký kinh doanh cho bên B để bên B có thể kinh doanh hợp pháp trong khuôn viên chợ. </td>
        </tr>
        <tr>
            <td>- Tổ chức, sắp xếp các sạp (kios) cho bên B theo vị trí phù hợp với từng ngành hàng trong khu vực chợ. </td>
        </tr>
        <tr>
            <td>- Khi cần thu hồi mặt bằng đã cho bên B thuê để phục vụ cho việc quy hoạch, sắp xếp, xây dựng, sửa chữa thì bên A phải thông báo cho bên B ít nhất là một tháng để bên B thu xếp hàng hoá, tài sản, trả lại mặt bằng để phục vụ cho công tác đó và bên A có trách nhiệm sắp xếp, hoán đổi vị trí tạm thời để bên B tiếp tục công việc kinh doanh. </td>
        </tr>
        <tr>
            <td>- Làm thủ tục sang nhượng lại sạp (kios) theo yêu cầu của bên B với điều kiện hợp đồng của bên B vẫn còn hiệu lực và không bị huỷ vì lý do vi phạm hợp đồng.</td>
        </tr>
        <tr>
            <td>- Bảo đảm an ninh trật tự trong khuôn viên các sạp mà bên B thuê và cho cả khu vực chợ nói chung. </td>
        </tr>
        <tr>
            <td>- Cung cấp điện, nước, và các dịch vụ khác theo khả năng của bên A khi bên B có nhu cầu đăng ký sử dụng.  </td>
        </tr>
        <tr>
            <td>- Ưu tiên làm hợp đồng và gia hạn làm hợp đồng mới cho bên B khi hợp đồng bên B hết hạn.  </td>
        </tr>
    </table>
    <br/>
    <b>Trách nhiệm đền bù không thuộc bên A khi:</b>
    <table cellpadding="0" cellspacing="0">
        <tr>
            <td>- Bên B chưa thực hiện nghĩa vụ thanh toán đầy đủ, đúng thời gian quy định tiền sạp, tiền cọc và các chi phí khác theo quy định tại điều 2.</td>
        </tr>
        <tr>
            <td>- Hàng hoá bị mất do để ngoài phạm vi diện tích của bên B (theo quy định tại hợp đồng).</td>
        </tr>
        <tr>
            <td>- Bên B có trách nhiệm bảo quản, cất giữ tài sản của mình. Khi có mất mát xảy ra thì bên A sẽ phối hợp để bên B cùng với cơ quan chức năng tích cực giải quyết vụ việc. </td>
        </tr>
    </table>
    <br/>
    <b>Trách nhiệm bên B:</b>
    <table cellpadding="0" cellspacing="0">
        <tr>
            <td>- Phải tuân thủ các nội quy, quy chế, cam kết và các quy định của chợ KCN Lê Minh Xuân. </td>
        </tr>
        <tr>
            <td>- Nộp đầy đủ tiền cọc cho bên A vào thời điểm nhận sạp, chậm nhất là 1 tháng sau khi sạp đi vào kinh doanh. </td>
        </tr>
        <tr>
            <td>- Nộp tiền thuê sạp (kios) hàng tháng vào đầu tháng, chậm nhất là ngày 5 của tháng cho tháng kinh doanh tiếp theo. </td>
        </tr>
        <tr>
            <td>- Đóng phí điện nước, điện thoại nếu có vào ngày đầu tiên của tháng cho tiền phí của tháng trước đó, chậm nhất là ngày 15 của tháng sau bên B phải có trách nhiệm đóng đầy đủ tiền điện, nước, điện thoại cho bên A. Nếu không thanh toán đầy đủ, bên A có quyền đơn phương cắt dịch vụ cung cấp cho bên B. Mọi chi phí làm mới dịch vụ điện, nước, điện thoại, bên B phải chịu và chi phí này sẽ được trừ vào tiền cọc. </td>
        </tr>
        <tr>
            <td>- Khi muốn sang nhượng hợp đồng thuê sạp cho người khác khi hợp đồng còn hiệu lực thì phải thông qua BQL Chợ. Số tiền phí làm hợp đồng sang nhượng thay đổi theo thời giá và theo giá trị mặt bằng trong từng thời điểm.  </td>
        </tr>
        <tr>
            <td>- Đóng thuế cho chi cục thuế hàng tháng theo quy định của nhà nước. </td>
        </tr>
        <tr>
            <td>- Không được mang hàng hoá đến khu vực lòng lề đường ngã tư KCN Lê Minh Xuân để bán. </td>
        </tr>
        <tr>
            <td>- Làm vệ sinh sạch sẽ trong phạm vi sạp của mình kinh doanh, không xả rác xuống ống cống nước thải của chợ làm tắc nghẽn hệ thống thoát nước, rác thải phải được bỏ vào thùng rác của chợ, hoặc để riêng vào một chỗ để BQL chợ cử người đi thu gom hàng ngày, nếu vi phạm lần một bị bảo vệ nhắc nhở, vi phạm lần hai: sẽ bị thông báo lên loa phát thanh của chợ, vi phạm lần ba trở lên: bị phạt tiền 200.000đồng/1 lần (số tiền phạt sẽ trừ vào số tiền thế chân của bên B). </td>
        </tr>
        <tr>
            <td>- Tuỳ theo mặt hàng kinh doanh mà bên B phải mua bảo hiểm hàng hoá trong sạp (kios). Nếu không mua bảo hiểm, bên B phải chịu hoàn toàn trách nhiệm khi có sự cố xảy ra. </td>
        </tr>
        <tr>
            <td>- Tuân thủ quy định của BQL chợ về thời gian mở cửa và đóng cửa chợ. </td>
        </tr>
        <tr>
            <td>- Không được phép buôn bán hàng cấm theo danh sách quy định của nhà nước. </td>
        </tr>
        <tr>
            <td>- Không nói thách, bán quá giá hoặc phá giá, ảnh hưởng chung đến kinh doanh của chợ. </td>
        </tr>
        <tr>
            <td>- Không lấn chiếm không gian hành lang, lối đi, khu vực công cộng. </td>
        </tr>
        <tr>
            <td>- Tuân thủ các quy định phòng cháy chữa cháy, an ninh trật tự, vệ sinh môi trường. </td>
        </tr>
        <tr>
            <td>- Cấm ngủ nghỉ qua đêm tại sạp. Nếu bị phát hiện sẽ bị phạt 5.000.000 đồng / 1 lần vi phạm, số tiền vi phạm sẽ bị trừ vào tiền thế chân hợp đồng. </td>
        </tr>
        <tr>
            <td>- Trong trường hợp xảy ra cháy nổ, hoả hoạn do vi phạm các quy định trong điều khoản này thì chủ sạp sẽ phải chịu hoàn toàn chi phí thiệt hại, tất cả tiền thế chân sẽ bị thu hồi để giái quyết hậu quả của việc cháy nổ, ngoài ra chủ sạp còn phải chịu trách nhiệm trước pháp luật. </td>
        </tr>
        <tr>
            <td>- Khi hết hạn hợp đồng, bên B có trách nhiệm nộp trả lại hợp đồng cho bên A </td>
        </tr>
    </table>
</page>
    <page  backImg="img/lmx_bg.jpg">
    <b><span style="text-decoration: underline;">ĐIỀU 4</span>: Chấm dứt và thanh lý hợp đồng</b>
    <table cellpadding="0" cellspacing="0">
        <tr>
            <td>- Trường hợp bất khả kháng, hoặc trường hợp ngoài khả năng kiểm soát của hai bên, thiên tai, chiến tranh hay sự thay đổi của chính sách luật pháp, làm ảnh hưởng hoặc chấm dứt hợp đồng thì hợp đồng sẽ bị huỷ và mặt bằng sẽ bị thu hồi.</td>
        </tr>
        <tr>
            <td>- Tất cả những tranh chấp và mâu thuẫn phát sinh trong quá trình kinh doanh buôn bán đều phải được giải quyết một cách ôn hoà với BQL Chợ, nếu bên B không tôn trọng quy định này, thì bên A là BQL Chợ có quyền đơn phương huỷ hợp đồng này và thu hồi lại mặt bằng kinh doanh của bên B. </td>
        </tr>
        <tr>
            <td>- BQL Chợ có quyền thay đổi và cập nhật các điều khoản hợp đồng dựa theo nhu cầu phát sinh và tình hình kinh doanh của chợ, khi có các thay đổi xảy ra, BQL Chợ sẽ có trách nhiệm thông báo cho bên B biết về các thay đổi và làm lại hợp đồng mới cho bên B nếu cần thiết</td>
        </tr>
        <tr>
            <td>- Hợp đồng sẽ bị huỷ nếu bên B sử dụng mặt bằng kinh doanh không đúng với mục đích, ngành hàng kinh doanh đã ghi trong bản hợp đồng này. </td>
        </tr>
        <tr>
            <td>- Hợp đồng sẽ bị huỷ nếu bên B sang nhượng, thế chấp vay vốn, cho thuê lại mặt bằng kinh doanh không thông qua sự đồng ý của BQL Chợ. </td>
        </tr>
        <tr>
            <td>- Khi thanh lý hợp đồng , hai bên sẽ phải ký hợp đồng thanh lý, và bên B sẽ nhận được số tiền cọc còn lại (nếu có ), sau 10 ngày hoàn tất việc thanh lý. </td>
        </tr>
        <tr>
            <td>- Khi hết hạn hợp đồng, nếu bên B không còn nhu cầu sử dụng mặt bằng nữa thì phải thu dọn phương tiện tài sản, hàng hoá, và sửa chữa mọi hư hỏng nếu có để hoàn trả lại nguyên trạng mặt bằng đã thuê cho bên A và thanh lý hợp đồng. Nếu bên B có nhu cầu tiếp tục kinh doanh thì trước khi hợp đồng hết hiệu lực 15 ngày phải đến cùng bên A bàn bạc và ký tiếp hợp đồng mới hoặc gia hạn hợp đồng đã có để tiếp tục kinh doanh.  </td>
        </tr>
    </table>

    <br>

    <b><span style="text-decoration: underline;">ĐIỀU 5</span>: Điều khoản chung</b>
    <table cellpadding="0" cellspacing="0">
        <tr>
            <td>- Trường hợp phát sinh thừa kế theo quy định của pháp luật thì bên A sẽ tạo điều kiện để người thừa kế của bên B kế thừa các quyền và nghĩa vụ trong hợp đồng này. </td>
        </tr>
        <tr>
            <td>- Hợp đồng này được thực hiện trên cơ sở tự nguyện của hai bên, không bên nào bị cưỡng ép hay bắt buộc ký vào hợp đồng.  </td>
        </tr>
        <tr>
            <td>- Trong trường hợp không may xảy ra hoả hoạn ngoài sự kiểm soát của chủ sạp và chủ sạp không vi phạm các điều khoản về phòng cháy chữa cháy được ghi trong điều 3 của hợp đồng này thì hai bên sẽ cùng nhau tìm biện pháp khắc phục hậu quả, cùng với chính quyền địa phương tìm ra hướng giải quyết thoả đáng. </td>
        </tr>
        <tr>
            <td>- Hợp đồng được lập thành hai bản, mỗi bên giữ 1 bản có giá trị như nhau. </td>
        </tr>
        <tr>
            <td>- Hai bên đã đọc và đồng ý với các điều khoản trong hợp đồng, nếu bên nào thực hiện sai các quy định trong hợp đồng thì phải chịu trách nhiệm trước pháp luật nhà nước và bồi thường thiệt hại do mình gây ra. </td>
        </tr>
        <tr>
            <td>- Hợp đồng có giá trị từ ngày bên B hoàn thành nghĩa vụ việc đóng tiền cọc và tiền sạp tháng đầu tiên theo quy định tại điều 2 của hợp đồng này. </td>
        </tr>
    </table>

    <br/>
    <br/>

    <p style="margin-right: 60px; float: left; text-align: right">Chợ KCN Lê Minh Xuân, ngày   tháng   năm </p>

    <br/>
    <br/>
    <table width="100%" cellpadding="0" cellspacing="0">
        <tr>
            <th width="50%"><b>TRƯỞNG BQL CHỢ LÊ MINH XUÂN</b></th>
            {#<th width="200">&nbsp;</th>#}
            <th width="50%"><b>BÊN THUÊ SẠP</b></th>
        </tr>
    </table>
    </page>
</div>
</body>
</html>