{% trans_default_domain 'FOSUserBundle' %}
{% block subject %}[Khamnhi] Resetting your password
    {% autoescape false %}
    {#{{ 'resetting.email.subject'|trans }}#}
    {% endautoescape %}
{% endblock %}
{% block body_text %}
    {% autoescape false %}
    {#{{ 'resetting.email.message'|trans({'%username%': user.username, '%confirmationUrl%': confirmationUrl}) }}#}
    {% endautoescape %}
    Dear {{ user.username }},

    Please click following link to reset your password:
    {{ confirmationUrl }}

    Regards,
    Khamnhi Admin.
{% endblock %}
{% block body_html %}
{% endblock %}
